*{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

#drawing-cursor{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;

    z-index: 1;
    cursor: none;
}

#canvasContainer{
    position: relative;

    width: 1000px;
    height: 800px;
    
    border: 1px solid black;

    cursor: none;

    overflow: hidden;
}

#settings-div{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

#eraser{
    width: 30px;
    height: 30px;
    border: 2px solid gray;
}

#stroke-color{
    -webkit-appearance: none;
    border: none;
    width: 34px;
    height: 34px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}